{% set body = eck_entity.field_description.getValue().0.value %}
{% set body_title = eck_entity.title.value %}
{% set image_url = eck_entity.field_side_image.entity.uri.value %}


{% set link_url = eck_entity.field_download_link.0.url %}
{% set link_text = eck_entity.field_download_link.0.title %}

{% set classes = [
'guide-block guide-block_planning',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="content_width_plus_padding">
    <div class="content_width">
      <div class="guide-block__content">
        <h3>{{ body_title }}</h3>
        {{ body|raw }}
        <a href="{{ link_url }}" target="_blank" class="btn btn_secondary btn_icon">
          {{ link_text }}
          <img src="/themes/custom/actadigitech/images/download-blue.svg" alt="">
        </a>
        <div class="guide-block__image">
          <img src="{{ file_url(image_url) }}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


  