{% set body = eck_entity.field_description.getValue().0.value %}

{% set cards = eck_entity.field_add_card %}



{% set classes = [
'resources-section',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="content_width_plus_padding">
    <div class="content_width s_inner">
      <div class="container">
        {{ body|raw }}
        <div class="intro-card__block">
        {% for key,subentity in cards if key|first != '#' %}
          <div class="intro-card">
            <div class="intro-card__top">
              <span class="intro-card__heading">{{ subentity.entity.field_title.value }}</span>
              <div class="intro-card__icon-block">
                <img src="{{ file_url(subentity.entity.field_icon_image.entity.uri.value) }}" alt="">
              </div>
            </div>
            <div class="intro-card__content">
            {{ subentity.entity.field_description.getValue().0.value|raw }}
            </div>
            <p><a href=".{{ subentity.entity.field_link.0.url }}" class="btn btn_secondary">{{ subentity.entity.field_link.0.title }}</a></p>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
  